<div class="container" >
    <h1 class="text-center" >Cab Details</h1>
    <div class="row">
        <div class="col-sm-6 offset sm-3">
            <form method="post">
                <div>
                    <label for="cabName">Cab Name</label>
                    <input type="text" name="cabName" id="cabName" class="form-control">
                </div>
                <div>
                    <label for="cabDescription">Cab Desctription</label>
                    <textarea name="cabDescription" id="cabDescription" cols="10" rows="5" class="form-control"></textarea>
                </div>
                <div>
                    <label for="totalCapacity">Total Capacity</label>
                    <input type="number" name="cabTotalCapacity" id="cabTotalCapacity" class="form-control">
                </div>
                <div>
                    <label for="driverId" >Driver Name</label>
                    <br>
                    <select class="drivername" name="drivername" id="drivername">
                        {{#each driverName}}
                        
                        <option value={{this.dataValues.driverName}}:{{this.dataValues.driver_Id}} > {{this.dataValues.driverName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Add Cab</button>
                </div>
            </form>
        </div>
    </div>
</div>